.btn {
	background-image: -webkit-linear-gradient(#444, #333);
	-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
	border-color: #333;
	text-shadow: none;
	color: #bbb;
	background-color: #373737;
}

.btn-primary, input.btn-primary {
	color: #ccc;

	background-color: #004DCC;
	background-image: -webkit-linear-gradient(top, #458, #458);

	background-color: #004DCC;
	background-image: -webkit-linear-gradient(top, #08C, #04C);
	
	background-color: #004DCC;
	background-image: -webkit-linear-gradient(top, #369, #247);
	
}

.btn:hover {
	background-color: #373737;
	color: #ddd;
	background-position: 0px 0px;
}