* {
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	height: 100%;
}


#editor, #editor > div {

	width: 600px;
	height: 400px;
/*
	width: 100%;
	height: 100%;*/

	/*position: relative;*/
	position: absolute;
}

.component {
	position: absolute;
	background-color: green;
}

.grid-single
{
	background-color: #269;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), 
					  -webkit-linear-gradient(0deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
	
	/*background-size: 20px 20px, 
					 20px 20px;*/
					 
	/*background-size: 10% 10%, 
					 10% 10%;*/

}

.grid-double
{
	background-color: #269;
	background-image: -webkit-linear-gradient(white 2px, transparent 2px), 
					  -webkit-linear-gradient(0deg, white 2px, transparent 2px), 
					  -webkit-linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), 
					  -webkit-linear-gradient(0deg, rgba(255, 255, 255, .3) 1px, transparent 1px);

	background-size: 100px 100px, 
					 100px 100px, 
					 20px 20px, 
					 20px 20px;

	/*background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;*/
}
