* {
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	height: 100%;
	background: #fff;
	background: #999;
}


#editor, #editor > div {

	width: 800px;
	height: 800px;
/*
	width: 100%;
	height: 100%;*/

	/*position: relative;*/
	position: absolute;


}

.component {
	position: absolute;
	/*background-color: #3276a9;*/

	/* Disable selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.component .content {
	position: absolute;

	width: 100%;
	text-align: center;

	top: 50%;
	margin-top: -10px;


	color: #ccc;
	font-family: helvetica;
	font-size: 14px;
}

.component.button {
	background-color: #4286b9;
	box-sizing: border-box;
}

.component.hasImage {
	background: none;
}

.component.hasImage:hover {
	background: rgba(66,134,185,0.3) !important;
}

.component.preselection {
	background-color: #3276a9;
}

.component.preselection:hover {
	background-color: #3276a9;
}

.component.preselection.hasImage {
	background: rgba(66,134,185,0.3);
}


.component.resizeLeft {
	cursor: w-resize;
}

.component.resizeTop {
	cursor: n-resize;
}

.component.resizeRight {
	cursor: e-resize;
}

.component.resizeBottom {
	cursor: s-resize;
}

.resizeAdorner {
	background-color: #bbf;
	position: absolute;
}

.component.isMoving {
	cursor: move !important;
}

.resizeAdorner.resizeLeft {
	left: 0px;
	width: 3px;
	height: 100%;
	cursor: w-resize;
}

.resizeAdorner.resizeTop {
	top: 0px;
	width: 100%;
	height: 3px;
	cursor: n-resize;
}

.resizeAdorner.resizeRight {
	right: 0px;
	width: 3px;
	height: 100%;
	cursor: e-resize;
}

.resizeAdorner.resizeBottom {
	bottom: 0px;
	width: 100%;
	height: 3px;
	cursor: s-resize;
}


.positionTypeAdorner {

	position: absolute;
	left: 5px;
	top: 5px;
	background-color: #ddd;
	padding: 2px;
	border-radius: 2px;
	color: #333;
	line-height: 10px;
	font-size: 9px;
	cursor: pointer;

	background-color: #3276a9;
	color: #eee;
}

.grid-single
{
	background-color: #269;

	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px), 
					  -webkit-linear-gradient(0deg, rgba(255, 255, 255, .1) 1px, transparent 1px)

	/*background-size: 20px 20px, 
					 20px 20px;*/
					 
	/*background-size: 10% 10%, 
					 10% 10%;*/

}

.grid-double
{
	background-color: #269;
	background-image: -webkit-linear-gradient(white 2px, transparent 2px), 
					  -webkit-linear-gradient(0deg, white 2px, transparent 2px), 
					  -webkit-linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), 
					  -webkit-linear-gradient(0deg, rgba(255, 255, 255, .3) 1px, transparent 1px);

	background-size: 100px 100px, 
					 100px 100px, 
					 20px 20px, 
					 20px 20px;

	/*background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;*/
}

.createButtonPopover form {
	margin: 4px 0px;
}

.createButtonPopover .input {
	width: 167px;
	margin-bottom: 10px;
}

.createButtonPopover .color {
	float: right;
}

.createButtonPopover .btn {
	margin-right: 5px;
}

.colorpicker {
	z-index: 1011;
}
