<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="js/jquery.js"></script>		
		<script type="text/javascript" src="js/FlexEditor/FlexEditor.js"></script>		
	</head>
	<body>
		<div id="editor"></div>
		<script type="text/javascript">
			var editor = new OR.FlexEditor({container: '#editor'});
			editor.load();
		</script>
	</body>
</html>