* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100%;
	background: #eee;
	background: #ddd;
}

.workarea {
	margin-left: 10px;
	margin-top: 43px;
	white-space: nowrap;
}

.header {
	background-color: #444;
	width: 100%;
	height: 36px;
	position: fixed;
	top: 0px;
	left: 0px;

	z-index: 1000;

	padding-top: 3px;

	box-sizing: border-box;

	background: -webkit-linear-gradient(#393c43, #1e1f24);
}

#connectionCount {
	font-style: normal;
}

.header h1 {
	display: none;
	color: #999;
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	text-shadow: 0px 1px #333;
	top: 0px;
	left: 8px;
	line-height: 17px;
}

.header-options {
	float: right;
	margin: 0px 0px;
}

.header-options > div {
	margin-right: 6px;
	float: left;
}

.header-options .input-checkbox {
	margin-top: 10px;
}

.header label {
	float: left;
	color: white;
	margin: 6px  10px;
	color: #ddd;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
}

.header .colorInput {
	background-color: #444;
	border-color: #555;
	color: white;
	width: 60px;
}


/** too quickly hacked, redo entire header bar */

.header .flex-btn {
	background-image: -webkit-linear-gradient(#444, #333);
	-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
	border-color: #333;
	text-shadow: none;
	background-color: #373737;
	box-sizing: border-box;
	margin-top: 1px;
	color: #ccc;
	border-radius: 3px;
	border-width: 1px;
	padding-left: 6px;
	padding-right: 7px;
	padding-top: 5px;
	height: 27px;
	text-shadow: 0px 1px #111;
	font-size: 12px;
	cursor: default;
}

.header .flex-btn:hover {
	background-image: -webkit-linear-gradient(#484848, #383838);
	color: #ddd;
}

.header .flex-btn.active {
	background-image: -webkit-linear-gradient(#223377, #334466);
	background-image: -webkit-linear-gradient(#335588, #224477);
	box-shadow: rgba(255, 255, 255, 0.2) 0px -1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
}

.flex-color {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 2px;
	position: relative;
	top: 1px;
	background: -webkit-linear-gradient(#444, #333);
	border: 1px solid #424242;
}

.flex-check {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 2px;
	position: relative;
	top: 1px;
	border-radius: 20px;
	background: -webkit-linear-gradient(#595959, #696969);
	border: 1px solid #666;
}

.flex-check.active {
	background: -webkit-linear-gradient(#00bb00, #008800);
	border: 1px inset #00bb00;
}