
.panel {
	display: inline-block;
	margin: 10px 20px;
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	overflow: hidden;
}

.panel-header {
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	line-height: 8px;
	padding: 0px 8px;
}

.panel-contents {
	background-color: white;	
	padding: 6px;
}

.device-iphone {
	width: 300px;
	height: 586px;
	background: url('/gfx/iphone.png') no-repeat;
	background-position: -8px -8px;
	box-sizing: border-box;

	/* positioning editor */
	padding-top: 101px;
	padding-left: 25px;
}

.device-iphone .editor, .device-iphone .grid {
	width: 256px;
	height: 385px;
	position: absolute;
}

.device .grid {
	overflow: hidden;
}

