
.panel {
	display: inline-block;
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	overflow: hidden;

	margin-right: 6px;
	margin-bottom: 6px;
}

.panel-header {
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	line-height: 0px;
	padding-left: 8px;
	padding-top: 13px;
	padding-bottom: 11px;
	margin: 0px;
	/*background-color: #eee;*/
	background-color: #ddd;
	text-shadow: 0px 1px #fff;
}

.panel-contents {
	background-color: white;	
	padding: 6px;
}

.device {
	box-sizing: border-box;
}

.device .grid {
	overflow: hidden;
}

.device > * {
	position: absolute;
}

/* iphone */
.device-iphone {
	width: 300px;
	height: 586px;
	background: url('/gfx/iphone.png') no-repeat;
	background-position: -8px -8px;
	padding-top: 101px;
	padding-left: 25px;
}

.device-iphone > * {
	width: 256px;
	height: 385px;
}

/* ipad */
.device-ipad {
	width: 618px;
	height: 483px;
	background: url('/gfx/ipad.png') no-repeat;
	background-position: -4px -6px;
	padding-top: 51px;
	padding-left: 57px;
}

.device-ipad > * {
	width: 506px;
	height: 380px;
}

