.editor * {
	padding: 0px;
	margin: 0px;
}

input:focus {	
	outline-color: transparent !important;
	outline-style: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #666 !important;
}

.editor {
	width: 500px;
	height: 500px;
	position: absolute;
	overflow: hidden;
}.grid-single
{
	/*background-color: #269;
	background-position: 0px 0px, -1px -1px;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px), 
					  -webkit-linear-gradient(0deg, rgba(255, 255, 255, .1) 1px, transparent 1px);*/
	/*background-size: 20px 20px, 20px 20px;
	background-size: 10% 10%, 10% 10%;*/
}

.grid {
	background-color: #269;
}

.grid-root {
	position: relative;
}

.grid-cell {
	background-color: #269;
	box-sizing: border-box;
	position: absolute;
	border-right: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.grid-line {
	position: absolute;
	/*background-color: #3674a2;*/
	background-color: rgba(255, 255, 255, 0.1);
}.library-ghost {
	position: absolute;
	border-radius: 4px;
	width: 170px;
	/*background-color: #2b2b2b;*/
	background-color: rgba(43, 43, 43, 0.4);
}
.component {
	/*background-color: #3276a9;*/
	position: absolute;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.component .content {
	position: absolute;

	width: 100%;
	text-align: center;

	top: 50%;
	margin-top: -10px;


	color: #ccc;
	font-family: helvetica;
	font-size: 14px;
}

.component.button {
	background-color: #4286b9;
	box-sizing: border-box;
}

.component.hasImage {
	background: none;
}

.component.hasImage:hover {
	background: rgba(66,134,185,0.3) !important;
}

.component.preselection {
	background-color: #3276a9;
}

.component.preselection:hover {
	background-color: #3276a9;
}

.component.preselection.hasImage {
	background: rgba(66,134,185,0.3);
}

.component.isMoving {
	cursor: move !important;
}

.element-selected {
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.resizeBox {
	width: 6px;
	height: 6px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
}

.resizeBox.resizeBox-topleft {
	left: -3px;
	top: -3px;
}

.resizeBox.resizeBox-topright {
	right: -3px;
	top: -3px;
}

.resizeBox.resizeBox-bottomleft {
	left: -3px;
	bottom: -3px;
}

.resizeBox.resizeBox-bottomright {
	right: -3px;
	bottom: -3px;
}

.resizeBox.resizeBox-middleleft {
	left: -3px;
	top: 50%;
	margin-top: -3px;
}

.resizeBox.resizeBox-middleright {
	right: -3px;
	top: 50%;
	margin-top: -3px;
}

.resizeBox.resizeBox-middletop {
	top: -3px;
	left: 50%;
	margin-left: -3px;
}

.resizeBox.resizeBox-middlebottom {
	bottom: -3px;
	left: 50%;
	margin-left: -3px;
}













.component.resizeLeft {
	cursor: w-resize;
}

.component.resizeTop {
	cursor: n-resize;
}

.component.resizeRight {
	cursor: e-resize;
}

.component.resizeBottom {
	cursor: s-resize;
}

.resizeAdorner {
	background-color: #bbf;
	position: absolute;
}

.resizeAdorner.resizeLeft {
	left: 0px;
	width: 3px;
	height: 100%;
	cursor: w-resize;
}

.resizeAdorner.resizeTop {
	top: 0px;
	width: 100%;
	height: 3px;
	cursor: n-resize;
}

.resizeAdorner.resizeRight {
	right: 0px;
	width: 3px;
	height: 100%;
	cursor: e-resize;
}

.resizeAdorner.resizeBottom {
	bottom: 0px;
	width: 100%;
	height: 3px;
	cursor: s-resize;
}

