
.component {
	/*background-color: #3276a9;*/
	position: absolute;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.component .content {
	position: absolute;

	width: 100%;
	text-align: center;

	top: 50%;
	margin-top: -10px;


	color: #ccc;
	font-family: helvetica;
	font-size: 14px;
}

.component.button {
	background-color: #4286b9;
	box-sizing: border-box;
}

.component.hasImage {
	background: none;
}

.component.hasImage:hover {
	background: rgba(66,134,185,0.3) !important;
}

.component.preselection {
	background-color: #3276a9;
}

.component.preselection:hover {
	background-color: #3276a9;
}

.component.preselection.hasImage {
	background: rgba(66,134,185,0.3);
}

.component.isMoving {
	cursor: move !important;
}

.resizeBorder {
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: -1px;
	margin-left: -1px;
	z-index: 9;
	border: 1px solid rgba(255, 255, 255, 0.5);	
}

.resizeBox {
	width: 6px;
	height: 6px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	z-index: 10;
}

.resizeBox.resizeBox-topleft {
	left: -3px;
	top: -3px;
}

.resizeBox.resizeBox-topright {
	right: -3px;
	top: -3px;
}

.resizeBox.resizeBox-bottomleft {
	left: -3px;
	bottom: -3px;
}

.resizeBox.resizeBox-bottomright {
	right: -3px;
	bottom: -3px;
}

.resizeBox.resizeBox-middleleft {
	left: -3px;
	top: 50%;
	margin-top: -3px;
}

.resizeBox.resizeBox-middleright {
	right: -3px;
	top: 50%;
	margin-top: -3px;
}

.resizeBox.resizeBox-middletop {
	top: -3px;
	left: 50%;
	margin-left: -3px;
}

.resizeBox.resizeBox-middlebottom {
	bottom: -3px;
	left: 50%;
	margin-left: -3px;
}













