.grid-single
{
	/*background-color: #269;
	background-position: 0px 0px, -1px -1px;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px), 
					  -webkit-linear-gradient(0deg, rgba(255, 255, 255, .1) 1px, transparent 1px);*/
	/*background-size: 20px 20px, 20px 20px;
	background-size: 10% 10%, 10% 10%;*/
}

.grid {
	background-color: #269;
}

.grid-root {
	position: relative;
}

.grid-cell {
	background-color: #269;
	box-sizing: border-box;
	position: absolute;
	border-right: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.grid-line {
	position: absolute;
	/*background-color: #3674a2;*/
	background-color: rgba(255, 255, 255, 0.1);
}