
.layer-element {
	color: #bebebe;
	font-size: 14px;
	padding: 12px 10px;
	text-shadow: 0px 1px #000;
	cursor: default;
}

.layer-element:hover {
	background-color: #3b3b3b;
}

.layer-element-selected, .layer-element-selected:hover  {
	background-color: #d1d1d1;
	color: #090909;
	text-shadow: none;
}

.layer-element-attributes {
	float: right;
}

.attribute {
	width: 13px;
	height: 13px;
	float: left;
	margin: 0px 3px;
	text-align: center;
}

.attribute i {
	color: #FDC413;
	color: #D1D1D1;
	text-shadow: 0px 1px #000;
	font-size: 12px;
	line-height: 16px;
}

.layer-element-selected .attribute i {
	color: #454444;	
	text-shadow: none;
}

.attribute-bg {
	border: 1px solid #454444;
}

.layer-element-selected .attribute-bg { 
	border: 1px solid #C1C1C1;
}

.attribute-locked .icon-unlock {
	opacity: 0;
}

.layer-element:hover .icon-unlock {
	opacity: 0.3;
}

.layer-element-selected .icon-unlock { 
	opacity: 0.3;
}
